/NeuroML2/LEMS_Test_ca_boyle.xml
/NeuroML2/LEMS_Test_k_fast.xml
/NeuroML2/LEMS_Test_k_slow.xml
*.mod
*.log
umac
*.hoc
/NeuroML2/*nrn.py
/NeuroML2/clean.sh
*.pyc
x86_64
*~
/data
NeuroML2/*.dat
*.ode
*.png
*.gv

