/NeuroML2/nm_conc.dat.lems
/BoyleCohen2008/PythonSupport/Main_Version/nm_conc.dat
/BoyleCohen2008/PythonSupport/Main_Version/nm_v.dat
/NeuroML2/.ipynb_checkpoints/Explore-checkpoint.ipynb
/pyramidal_implementation/example.o
/NeuroML2/LEMS_Test_ca_boyle.xml
/NeuroML2/LEMS_Test_k_fast.xml
/NeuroML2/LEMS_Test_k_slow.xml
*.mod
*.log
umac
*.hoc
/NeuroML2/*nrn.py
/NeuroML2/clean.sh
*.pyc
x86_64
*~
/data
NeuroML2/*.dat
*.ode
*.gv

BoyleCohen2008/*.o
BoyleCohen2008/program

BoyleCohen2008/results

dist
OpenWormMuscleModel.egg-info
/NeuroML2/C/muscleC
/NeuroML2/C/results.dat
